@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: none;
  }

.svg-class:hover > .path-class {
  fill: white;
  stroke: #248BD6;
}

.svg-class2:hover > .path-class {
  fill: transparent;
  stroke: white;
}